[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[dependencies]
pyo3 = { version = "0.25", features = [ "auto-initialize" ] }

[build-dependencies]
pyo3-build-config = { version = "0.25", features = ["resolve-config"] }